body{
    background-color: hsl(148, 38%, 91%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-family: Karla;
}
.formulaire {
    font-family: Karla;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 50%;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}
.nomprenom{
    display: flex;
    flex-direction:row;
    width: 100%;
    gap: 10px;
    justify-content: space-between;

}
input {
    padding: auto;
    height: 40px;
    border-radius: 10px;
    
}