input[type="radio"].botmode {
    opacity: 0.5;
    width: 24px;
    height: 24px;
}
input[type="radio"].botmode + label {
    display: flex;
    align-items: center;
}
input[type="radio"].botmode + label img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    display: none   ;
}
input[type="radio"].botmode:checked + label img {
    display: flex;
}
input[type="radio"].botmode:checked{
    display: none;
}